//  BUTTONS

.btn {
	@include center();
	display: inline-flex;
	color: $WHITE;
	@include font-default(NORMAL);
	white-space: nowrap;
	padding: 0.8rem 1.6rem;
	background: none;
	background-color: transparent;
	border: 1px solid transparent;
	text-decoration: none;
	border-radius: 999.9rem;
	box-shadow: $OUTLINE_FOCUS_NONE;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	transition: background-color $TRANSITION_SPEED $TRANSITION_EASE,
		box-shadow $TRANSITION_SPEED $TRANSITION_EASE;

	&:hover {
		background-color: $BTN_SECONDARY_HOVER;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
	}

	&:focus {
		background-color: transparent;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;
	}

	&:disabled {
		opacity: 0.5;
	}
}

// size

.btn-sm {
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: map-get($FONT_WEIGHT, BOLD);
	min-width: 7.8rem;
	height: 3rem;
	min-height: 3rem;
	padding: 0.8rem 1.5rem;
}

.btn-md {
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: map-get($FONT_WEIGHT, BOLD);
	min-width: 6.4rem;
	height: 4rem;
	min-height: 4rem;
	padding: 0 1.6rem;
}

.btn-lg {
	display: flex;
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: map-get($FONT_WEIGHT, BOLD);
	max-width: 77.28rem;
	height: 4.8rem;
	min-height: 4.8rem;
	padding: 0 3.2rem;
}

// block

.btn-block {
	display: flex;
	width: 100%;
	padding: 0;
}

// types

.btn-primary {
	color: $WHITE;
	background-color: $BRAND_BLUE;

	&:hover {
		background-color: $BTN_PRIMARY_HOVER;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_PRIMARY_HOVER;
	}

	&:focus {
		background-color: $BTN_PRIMARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background-color: $BRAND_BLUE;
			cursor: default;
		}
	}
}

.btn-secondary {
	color: $BRAND_BLUE;
	background-color: transparent;
	border: 0.1rem solid $BRAND_BLUE;

	&:hover {
		background-color: $BTN_SECONDARY_HOVER;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
	}

	&:focus {
		background-color: $BTN_SECONDARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background-color: transparent;
			cursor: default;
		}
	}
}

.btn-tertiary {
	color: $BRAND_BLUE;
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: map-get($FONT_WEIGHT, NORMAL);
	justify-content: flex-start;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;

	&:hover {
		background: none;
		text-decoration: underline;
		cursor: pointer;
	}

	&:active {
		background: none;
		border: none;
	}

	&:focus {
		background: none;
		text-decoration: underline;
		box-shadow: none;
		border: none;
		outline: none;
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background-color: transparent;
			cursor: default;
		}
	}
}

.btn-no-label {
	@include center();
	display: inline-flex;
	@include font-default(NORMAL);
	white-space: nowrap;
	padding: 0;
	background: none;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 999.9rem;
	box-shadow: $OUTLINE_FOCUS_NONE;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	transition: background-color $TRANSITION_SPEED $TRANSITION_EASE,
		box-shadow $TRANSITION_SPEED $TRANSITION_EASE;

	&:hover {
		background-color: $BTN_SECONDARY_HOVER;
		cursor: pointer;

		svg {
			color: $BRAND_BLUE;
			fill: currentColor;
		}
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
	}

	&:focus {
		background-color: $BTN_SECONDARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;

		svg {
			color: $BRAND_BLUE;
			fill: currentColor;
		}
	}
}

// size

.btn-rnd-sm {
	width: 3.475rem;
	min-width: 3.475rem;
	height: 3.475rem;
	min-height: 3.475rem;

	&:active {
		box-shadow: $OUTLINE_FOCUS_INSET_ACTIVE;
	}

	&:focus {
		box-shadow: $OUTLINE_FOCUS_INSET_ACTIVE;
	}
}

.btn-rnd-md {
	width: 4rem;
	min-width: 4rem;
	height: 4rem;
	min-height: 4rem;

	&:active {
		box-shadow: $OUTLINE_FOCUS_INSET_ACTIVE;
	}

	&:focus {
		box-shadow: $OUTLINE_FOCUS_INSET_ACTIVE;
	}
}

.btn-rnd-lg {
	width: 4.6rem;
	min-width: 4.6rem;
	height: 4.6rem;
	min-height: 4.6rem;
}

.btn-tab {
	@include center();
	display: inline-flex;
	@include font-default(NORMAL);
	white-space: nowrap;
	padding: 0;
	background: none;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 999.9rem;
	box-shadow: $OUTLINE_FOCUS_NONE;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	transition: background-color $TRANSITION_SPEED $TRANSITION_EASE,
		box-shadow $TRANSITION_SPEED $TRANSITION_EASE;

	&:hover {
		background-color: $BTN_SECONDARY_HOVER;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
	}

	&:focus {
		background-color: $BTN_SECONDARY_HOVER;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;
	}
}

.btn-tab-sidebar {
	@include center();
	padding: 0;
	text-decoration: none;

	&:hover {
		color: $BRAND_BLUE;
		background-color: $BTN_SECONDARY_HOVER;
		text-decoration: none;
		cursor: pointer;

		svg {
			color: $BRAND_BLUE;
			fill: currentColor;
		}
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
		text-decoration: none;
	}

	&:focus {
		color: $BRAND_BLUE;
		background-color: transparent;
		text-decoration: none;
		box-shadow: $OUTLINE_FOCUS_ACTIVE;
		outline: none;

		svg {
			color: $BRAND_BLUE;
			fill: currentColor;
		}
	}
}

.btn-tab-group {
	display: flex;
	color: $GREY_513;
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: map-get($FONT_WEIGHT, BOLD);
	height: 5.3rem;
	background-color: transparent;
	border-radius: 0;
	text-decoration: none;
	border-bottom: 0.1rem solid $GREY_BORDER;
	flex-grow: 1;

	&:hover {
		color: $BRAND_BLUE;
		background-color: $BTN_SECONDARY_HOVER;
		text-decoration: none;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_SECONDARY_HOVER;
		text-decoration: none;
	}

	&:focus {
		background-color: transparent;
		text-decoration: none;
		box-shadow: $OUTLINE_FOCUS_INSET_ACTIVE;
		outline: none;
	}
}
