// layout

[hidden] {
	display: none !important;
}

// password bullets

[type='password'].text-bull {
	display: inline-block;
	font-family: 'text-bull' !important;
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2rem;
	letter-spacing: 0.175em;
	// speak: none;
}
