// ICON
.icon {
	box-sizing: content-box;
	fill: currentColor;
}

// btn-icon

.btn-icon-xxs {
	width: 1.3rem;
	height: 1.3rem;
}

.btn-icon-xs {
	width: 1.875rem;
	height: 1.875rem;
}

.btn-icon-sm {
	width: 2.25rem;
	height: 2.25rem;
}

.btn-icon-md {
	width: 2.625rem;
	height: 2.625rem;
}

.btn-icon-lg {
	width: 3rem;
	height: 3rem;
}

// icon

.icon-xxs {
	width: 1.6rem;
	height: 1.6rem;
}

.icon-xs {
	width: 1.875rem;
	height: 1.875rem;
}

.icon-sm {
	width: 2.25rem;
	height: 2.25rem;
}

.icon-md {
	width: 2.5rem;
	height: 2.5rem;
}

// header-icon

.header-icon-sm {
	width: 3.2rem;
	height: 3.2rem;
}

.header-icon-md {
	width: 4rem;
	height: 4rem;
}

.header-icon-lg {
	width: 4.5rem;
	height: 4.5rem;
}

// colors

.icon-primary {
	color: $BRAND_BLUE;
	fill: currentColor;
}

.icon-secondary {
	color: $GREY_513;
	fill: currentColor;
}
