.img-full-cover {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}

.img-cover {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.profile-img {
	position: relative;
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 999.9rem;
	overflow: hidden;
}
