@media screen and (min-width: 1000px) {
	.w-wrapper {
		display: grid;
		height: 100vh;
		grid-template-rows: 1fr auto;
		justify-content: stretch;
	}
}

// homepage__container

.homepage__container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
@media screen and (max-width: 999px) {
	.homepage__container {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__container {
		flex-wrap: nowrap;
	}
}

// hero

.homepage__hero {
	position: relative;
	@include center();
	color: $WHITE;
	height: 100%;
	background-color: $BRAND_BLUE;
	padding: 3.2rem;
	overflow: hidden;
}
@media screen and (max-width: 999px) {
	.homepage__hero {
		flex-basis: 100%;
		order: 1;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__hero {
		flex-basis: 50%;
	}
}

.homepage__hero__image {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	user-select: none;
}

.homepage__hero__icon {
	position: relative;
	width: 24.2rem;
	fill: currentColor;
	user-select: none;
	z-index: 1;
}

// main

.homepage__main {
	background-color: $WHITE;
	padding: 1.6rem;
	overflow: hidden;
}
@media screen and (max-width: 999px) {
	.homepage__main {
		flex-basis: 100%;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__main {
		display: flex;
		align-items: center;
		height: 100%;

		flex-basis: 50%;
	}
}

.man__container {
	padding: 2rem;
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.man__container {
		max-width: 600px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1000px) {
	.man__container {
		width: auto;
		justify-self: flex-end;
		margin: 0 auto;
	}
}

// title

.homepage__header {
	padding-bottom: 1.2rem;
}

.homepage__header-icon {
	width: 4.5rem;
	height: 4.5rem;
	fill: $BRAND_BLUE;
	margin-left: auto;
}

.homepage__title,
.homepage__sub {
	@include font-display();
	margin: 0;
	padding: 0;
}

.homepage__title {
	font-size: map-get($FONT_SIZE_DISPLAY, XXLARGE);
	line-height: 1.2;
	letter-spacing: -0.15rem;
	margin: 4rem 0;
}
.homepage__sub {
	display: block;
	font-size: map-get($FONT_SIZE_DISPLAY, LARGE);
	margin: 0;
	margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
	.homepage__title {
		font-size: map-get($FONT_SIZE_DISPLAY, XLARGE);
		letter-spacing: -0.15rem;
	}
	.homepage__sub {
		font-size: map-get($FONT_SIZE_DISPLAY, MEDIUM);
	}
}

// account setup

@media screen and (max-width: 500px) {
	.homepage__account-setup {
		@include center(column);
	}
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.homepage__account-setup {
		@include center();
		width: auto;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__account-setup {
		@include center(column);
		align-items: flex-start;
		justify-content: flex-start;
	}
}

.btn-link {
	@include center();
	@include font-default();
	color: $WHITE;
	font-size: map-get($FONT_SIZE_BTN, DEFAULT);
	font-weight: 650;
	min-height: 4.8rem;
	width: 100%;
	padding: 0 3.2rem;
	margin-bottom: 1.6rem;
	background: none;
	background-color: $BRAND_BLUE;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 2.4rem;
	box-shadow: $OUTLINE_DEFAULT;
	outline: none;
	user-select: none;
	overflow: hidden;
	transition: background-color $TRANSITION_SPEED $TRANSITION_EASE,
		box-shadow $TRANSITION_SPEED $TRANSITION_EASE;

	&:hover {
		background-color: $BTN_HOVER;
		cursor: pointer;
	}

	&:active {
		background-color: $BTN_HOVER;
	}

	&:focus {
		background-color: $BTN_HOVER;
		box-shadow: $OUTLINE_FOCUS;
		outline: none;
	}

	&:visited {
		color: $WHITE;
	}

	&.btn-link--outline {
		color: $BRAND_BLUE;
		background-color: transparent;
		border: 0.1rem solid $BRAND_BLUE;

		&:hover {
			background-color: $BTN_OUTLINE_HOVER;
		}

		&:active {
			background-color: $BTN_OUTLINE_HOVER;
		}

		&:focus {
			background-color: $BTN_OUTLINE_HOVER;
		}
	}
}

@media screen and (max-width: 500px) {
	.btn-link {
		flex: 1 1 100%;
	}
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.btn-link {
		flex: 1 1 100%;
	}
	.btn-link:not(:last-of-type) {
		margin-right: 2.4rem;
	}
}
@media screen and (min-width: 1000px) {
	.btn-link {
		width: 38rem;
	}
}

// footer

.footer {
	padding: 1.2rem 1.6rem;
	text-align: center;
}

.footer__links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__link {
	padding: 0 0.8rem;
	margin: 0.35rem 0;
}

.footer__link__item {
	display: inline-block;
	color: $GREY_513;
	font-size: map-get($FONT_SIZE_DEFAULT, SMALL);
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;

	&:hover {
		text-decoration: underline;
	}

	&:visited,
	&:active {
		color: $GREY_513;
		text-decoration: none;
	}
}
