.layout {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1249px) {
	.layout {
		max-width: 1249px;
		margin: 0 auto;
	}
}

.layout__left-sidebar-container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: space-between;
	// width: 31.7rem;
	height: 100vh;
	padding: 0 1.2rem;
	border-right: 1px solid $GREY_125;
	z-index: 2;
	background-color: hotpink;
	flex: 1 1 25%;
}
@media screen and (max-width: 768px) {
	.layout__left-sidebar-container {
		align-items: center;
		width: 6.4rem;
		padding: 0 0.8rem;
		flex: 0 auto;
		// background-color: rgb(89, 241, 84);
	}
}
@media screen and (min-width: 769px) and (max-width: 999px) {
	.layout__left-sidebar-container {
		align-items: center;
		flex: 0 1 25%;
		background-color: cornflowerblue;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1263px) {
	.layout__left-sidebar-container {
		align-items: flex-end;
		flex: 0 1 25%;
	}
}

.layout__left-sidebar {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	max-width: 27.5rem;
	height: 100%;
	padding: 0.2rem 0;
	background-color: $WHITE;
	user-select: none;
}

.left-sidebar__items {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.left-sidebar__item {
	display: flex;
	width: 100%;
}
@media screen and (max-width: 1000px) {
	.left-sidebar__item {
		justify-content: center;
	}
}

.left-sidebar__item {
	.item-wrapper {
		display: flex;
		align-items: center;
	}
}

.left-sidebar__item {
	.btn__icon-right {
		@include center();
		display: inline-flex;
	}
}

.left-sidebar__item {
	.item-wrapper__group {
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: center;
	}
}

@media screen and (max-width: 1264px) {
	.left-sidebar__item {
		.item-wrapper__collapse {
			position: absolute;
			display: block;
			width: 1px;
			height: 1px;
			overflow: hidden;
			white-space: nowrap;
			clip: rect(1px 1px 1px 1px);
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(1px);
		}
	}
}

.left-sidebar__item {
	.item-wrapper__title {
		padding: 0 1.8rem;
		line-height: 1;
	}
}

.left-sidebar__item {
	.left-sidebar__header-btn {
		@include center();
		padding: 0;
		.icon {
			width: 3rem;
			height: 3rem;
		}
	}
}

.left-sidebar__item {
	.left-sidebar__tweet-btn {
		justify-content: flex-start;
		font-size: map-get($FONT_SIZE_BTN, DEFAULT);
		font-weight: map-get($FONT_WEIGHT, BOLD);
		padding: 1.2rem;
		width: 90%;
		height: 4.8rem;

		* {
			color: $WHITE;
			fill: $WHITE;
		}
	}
}
@media screen and (min-width: 1263px) {
	.left-sidebar__item {
		.left-sidebar__tweet-btn {
			justify-content: center;

			.btn__icon-right {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 1263px) {
	.left-sidebar__item {
		.left-sidebar__tweet-btn {
			width: 4.8rem;
			height: 4.8rem;
		}
	}
}

.left-sidebar__item:first-child {
	margin-bottom: 0.4rem;
}

.left-sidebar__item:last-child {
	color: $WHITE;
	margin: 0.4rem 0;
}

.layout__main-container {
	width: 100%;
	height: 500rem;
	background-color: rgb(171, 171, 171);
}

.left-bar__footer {
	background-color: blue;
}
