.homepage__container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
@media screen and (max-width: $BREAKPOINT_VALUE_SMALL) {
}
@media screen and (min-width: $BREAKPOINT_VALUE_SMALL + 1) {
	.homepage__container {
		display: flex;
		flex-flow: row nowrap;

		.homepage__landing {
			flex: 1 1 50%;
			overflow: hidden;
		}

		.homepage__main {
			flex: 1 1 50%;
			overflow: hidden;
		}
	}
}

.homepage__landing {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $BRAND_BLUE;

	.homepage__landing__image {
		object-fit: fill;
		object-position: center;
	}
	.homepage__landing__icon {
		position: absolute;
		width: 20rem;
		height: 20rem;
		z-index: 1;
	}
}

.homepage__header__icon {
	width: 2.4rem;
	height: 2.4rem;
	fill: $BRAND_BLUE;
}

.homepage__main {
	.homepage__title,
	.homepage__sub {
			font-family: $FONT_DISPLAY;
			color: $BLACK_185;
	}
}