.overflow-y-scroll {
	overflow-y: scroll;
}

// window wrapper

.w-wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	background-color: $WHITE;
}

@media screen and (min-width: 701px) {
	.w-wrapper {
		&.w-wrapper__fullscreen {
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
	}
}

// homepage container

.homepage__container {
	display: flex;
	flex-direction: row;
	height: auto;
}
@media screen and (max-width: 999px) {
	.homepage__container {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__container {
		flex-wrap: nowrap;
		height: 100%;
	}
}

// hero

.homepage__hero {
	position: relative;
	@include center();
	color: $WHITE;
	background-color: $BRAND_BLUE;
	padding: 3.2rem;
	overflow: hidden;
}
@media screen and (max-width: 999px) {
	.homepage__hero {
		flex-basis: 100%;
		order: 1;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__hero {
		flex: 1 0 auto;
	}
}

.homepage__hero__image {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	user-select: none;
}

.homepage__hero__icon {
	position: relative;
	height: 28.6rem;
	max-height: 38rem;
	width: 100%;
	fill: currentColor;
	user-select: none;
	z-index: 1;
}
@media screen and (max-width: 500px) {
	.homepage__hero__icon {
		height: 24.2rem;
	}
}
// main

.homepage__main {
	background-color: $WHITE;
	padding: 1.6rem;
	overflow: hidden;
}
@media screen and (max-width: 999px) {
	.homepage__main {
		flex-basis: 100%;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__main {
		display: flex;
		align-items: center;
		height: 100%;
		flex: 0 1 auto;
	}
}

.main__container {
	padding: 2rem;
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.main__container {
		max-width: 600px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1000px) {
	.main__container {
		justify-self: flex-end;
	}
}

// title

.homepage__header {
	padding-bottom: 1.2rem;
}

.homepage__header-icon {
	width: 4.5rem;
	height: 4.5rem;
	margin-left: auto;
	fill: $BRAND_BLUE;
}

.homepage__title,
.homepage__subtitle {
	@include font-display();
	color: $BLACK_185;
}

.homepage__title {
	font-size: map-get($FONT_SIZE_DISPLAY, XXLARGE);
	margin: 5.6rem 0;
	line-height: 8.4rem;
	letter-spacing: -0.12rem;
}
.homepage__subtitle {
	display: block;
	font-size: map-get($FONT_SIZE_DISPLAY, LARGE);
	margin: 0;
	margin-bottom: 3.2rem;
	line-height: 3.6rem;
}
@media screen and (max-width: 500px) {
	.homepage__title {
		font-size: map-get($FONT_SIZE_DISPLAY, XLARGE);
		margin: 4rem 0;
		line-height: 1.15;
	}
	.homepage__subtitle {
		font-size: map-get($FONT_SIZE_DISPLAY, MEDIUM);
		margin-bottom: 1.6rem;
	}
}

// form

@media screen and (max-width: 500px) {
	.homepage__account-setup {
		@include center(column);
	}
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.homepage__account-setup {
		@include center();
		width: auto;
	}
}
@media screen and (min-width: 1000px) {
	.homepage__account-setup {
		@include center(column);
		align-items: flex-start;
		justify-content: flex-start;
	}
}

//  form buttons

.homepage__container {
	.btn {
		margin-bottom: 1.6rem;
	}
}

@media screen and (max-width: 500px) {
	.homepage__container {
		.btn {
			flex: 1 1 100%;
		}
	}
}
@media screen and (min-width: 501px) and (max-width: 999px) {
	.homepage__container {
		.btn {
			flex: 1 1 100%;
		}
		.btn:not(:last-of-type) {
			margin-right: 2.4rem;
		}
	}
}

@media screen and (min-width: 1000px) {
	.homepage__container {
		.btn {
			max-width: 38rem;
		}
	}
}

// footer

.footer {
	display: block;
	height: auto;
	text-align: center;
	padding: 1.2rem 1.6rem;
}

.footer__links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__link {
	margin: 0.35rem 0.4rem;
}

.footer__link__item {
	.footer__copy {
		text-decoration: none;
		outline: none;
	}
}
