// Chirp
@font-face {
  font-family: 'Chirp';
  src: url('/fonts/chirp/chirp-extended-heavy.eot');
  src: url('/fonts/chirp/chirp-extended-heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/chirp/chirp-extended-heavy.woff2') format('woff2'),
      url('/fonts/chirp/chirp-extended-heavy.woff') format('woff'),
      url('/src/fonts/chirp/chirp-extended-heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}