// brand
$BRAND_BLUE: #1da1f2;

// neutrals
$WHITE: #fff;

$BLACK_185: #0f1419;
$GREY_513: #5b7083;
$GREY_125: #767676;
$GREY_214: #c4cfd6;
$GREY_BORDER: #ebeef0;
$DARK_GREY_513: #4f798c;

// colors
$BRAND_RED: rgb(224, 36, 94);
$BRAND_GREEN: rgb(23, 191, 99);
