// focus: box-shadow
$OUTLINE_DEFAULT: 0 0 0 2px transparent;
$OUTLINE_FOCUS: 0px 0px 0px 2px rgb(144, 209, 249);

// button state
$BTN_HOVER: rgb(26, 145, 218);

$BTN_OUTLINE_HOVER: rgba(29, 161, 242, 0.1);

// transition
$TRANSITION_SPEED: 150ms;

$TRANSITION_EASE: ease;
