// Smart phones
$BREAKPOINT_VALUE_XSMALL: 321px;

$BREAKPOINT_VALUE_SMALL: 481px;

// Tablets
$BREAKPOINT_VALUE_MEDIUM: 865px;

// Desktops
$BREAKPOINT_VALUE_LARGE: 1264px;

// Large desktops
$BREAKPOINT_VALUE_XLARGE: 1441px;
