@import '../settings/colors';
@import '../settings/dimensions';
@import '../settings/type';
@import '../settings/global';
@import 'breakpoints';
@import 'functions';

/* ============ @MIXINS ============ */
// flex

@mixin center($FLEX_DIRECTION: row) {
	display: flex;
	flex-direction: $FLEX_DIRECTION;
	align-items: center;
	justify-content: center;
}

// font display
@mixin font-display() {
	color: $BLACK_185;
	font-family: map-get($FONT_DISPLAY, FONT_FAMILY);
	font-weight: map-get($FONT_DISPLAY, FONT_WEIGHT);
	font-style: map-get($FONT_DISPLAY, FONT_STYLE);
}

@mixin font-default($--FONT_WEIGHT: NORMAL) {
	color: $BLACK_185;
	font-family: map-get($FONT_DEFAULT, FONT_FAMILY);
	font-weight: map-get($FONT_WEIGHT, $--FONT_WEIGHT);
	font-style: map-get($FONT_DEFAULT, FONT_STYLE);
}

// $FONT_WEIGHT: (
// 	NORMAL: 400,
// 	MEDIUM: 500,
// 	BOLD: 650,
// 	DISPLAY: 900,
// );
